@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;

300;400;500;600;700;800;900&display=swap);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 15px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  position: relative;
}

.scroll {
  position: fixed;
  z-index: 10;
  right: 1%;
  bottom: 2%;
  background: url(../img/submit_arrow.png) center center/60% no-repeat #D2D1D2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.showBtn {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.bg-grad {
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: -2;
  background: -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a));
  background: -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
  background: linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
}

.bg-banner {
  position: relative;
}

.banner_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 521px;
  top: 246px;
}

.banner_bg img {
  width: 801px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px 235px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0px 200px 0px 0px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 17px 0px 0px 0px;
}

.main-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation__list :last-child {
  margin: 0px 0px 0px 0px;
}

.main-navigation__list a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.main-navigation__list a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  left: 0;
  bottom: -4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.main-navigation__list a:hover:before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu-item {
  margin: 0px 50px 0px 0px;
}

.widget-contacts__phone {
  text-decoration: none;
  color: #000;
  font-family: Montserrat;
  font-weight: 500;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 355px 0px;
}

.intro__slogan {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  margin: 0px 0px 30px 0px;
}

.intro__slogan2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  display: none;
  text-align: center;
}

.intro__slogan3 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  margin: 0px 0px 30px 0px;
  display: none;
  text-align: center;
}

.intro__title {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  margin: 0px 0px 30px 0px;
  width: 350px;
}

.intro__service-btn {
  display: inline-block;
  text-align: center;
  width: 209px;
  position: relative;
  background: #fff;
  padding: 27px 0px 27px 0px;
  border-radius: 35px;
  font-family: Montserrat;
  font-weight: 800;
  text-align: center;
  background: -webkit-gradient(linear, right top, left top, from(#ffa032), color-stop(#fd9737), color-stop(#f98e3c), color-stop(#f68641), to(#f17e45));
  background: -o-linear-gradient(right, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
  background: linear-gradient(to left, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
}

.intro__service-btn a {
  color: #000;
  position: relative;
  z-index: 1;
}

.intro__service-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ffa032), color-stop(#fd9737), color-stop(#f98e3c), color-stop(#f68641), to(#f17e45));
  background: -o-linear-gradient(left, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
  background: linear-gradient(to right, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
  border-radius: 35px;
  opacity: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.intro__service-btn:hover:before {
  opacity: 1;
}

.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 245px 0px;
}

.why__title {
  margin: 0px 0px 180px 0px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
}

.why__sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 15px 0px 15px;
}

.why__pic {
  text-align: center;
  margin: 0px 0px 55px 0px;
}

.why__name {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0px 0px 45px 0px;
}

.why__text {
  font-family: Montserrat;
  font-size: 20px;
  width: 270px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.our-services-bg {
  background: #E8CCDB;
  width: 100%;
  height: 800px;
  position: relative;
  z-index: -1;
  margin: 0px 0px 60px 0px;
}

.our-services {
  position: relative;
}

.our-services__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  margin: 0px 0px 90px 0px;
  padding: 85px 0px 0px 0px;
}

.our-services__tabs {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 50px 0px;
}

.tabs__choose {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  padding: 27px 0px 27px 0px;
  margin: 0px 15px 15px 0px;
  position: relative;
  background: #fff;
  border-radius: 35px;
  font-family: Montserrat;
  font-weight: 800;
  text-align: center;
  background: #fff;
}

.tabs__choose :last-child {
  margin: 0px 0px 0px 0px;
}

.tabs__choose a {
  position: relative;
  z-index: 1;
  color: #000;
}

.tabs__choose:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ffa032), color-stop(#fd9737), color-stop(#f98e3c), color-stop(#f68641), to(#f17e45));
  background: -o-linear-gradient(left, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
  background: linear-gradient(to right, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
  border-radius: 35px;
  opacity: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.tabs__choose:hover:before {
  opacity: 1;
}

.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background: #fff;
  top: 67% !important;
}

.swiper-button-prev:after {
  display: none;
}

.swiper-container {
  margin: 0 auto;
  width: 860px;
}

.swiper-wrapper {
  padding: 0px 0px 50px 0px;
}

.our-services__swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-services__swiper-slide__name {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  border-radius: 0px 0px 50px 50px;
  background: #fff;
  width: 150px;
  height: 30px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -10px;
  z-index: -1;
  padding-top: 8px;
}

.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  top: 67% !important;
  border-radius: 50%;
  background: #fff;
}

.swiper-button-next:after {
  display: none;
}

.our-photos__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  margin: 0px 0px 50px 0px;
}

.our-photos__gallery {
  height: 935px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
      grid-template: repeat(4, 1fr)/repeat(4, 1fr);
}

.our-photos__gallery :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}

.our-photos__gallery :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/3/4;
}

.our-photos__gallery :nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/3/5;
}

.our-photos__gallery :nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/5/3;
}

.our-photos__gallery :nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3/3/5/5;
}

.our-photos__gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-company {
  background: #FDDFB9;
}

.company {
  margin: 0px 0px 100px 0px;
}

.company__title {
  margin: 80px 0px 50px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.title__text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  padding: 0px 0px 26px 0px;
}

.sub-title {
  height: 390px;
  display: -ms-grid;
  display: grid;
  grid-gap: 2px;
  grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(350px, 1fr));
}

.sub-title img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-title :nth-child(1) {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 27px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
}

.sub-title :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/3/3;
  padding: 0px 0px 0px 10px;
}

.sub-title :nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1/3/2/5;
  -ms-grid-column-align: start;
      justify-self: start;
}

.sub-title :nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 2/3/3/5;
}

.bg-form {
  background: #000;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-container input {
  max-width: 400px;
}

.contact_title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  color: #fff;
  margin: 80px 0px 110px 0px;
}

.contact__name {
  font-family: Montserrat;
  font-size: 35px;
  color: #fff;
  background: #000;
  border-bottom: 1px solid #fff;
}

.contact__phone {
  font-family: Montserrat;
  font-size: 35px;
  color: #fff;
  background: #000;
  border-bottom: 1px solid #fff;
}

.contact__email {
  font-family: Montserrat;
  font-size: 35px;
  color: #fff;
  background: #000;
  margin: 170px 0px 0px 0px;
  border-bottom: 1px solid #fff;
}

.contact__title {
  font-family: Montserrat;
  font-size: 35px;
  color: #fff;
  background: #000;
  margin: 170px 0px 0px 0px;
  border-bottom: 1px solid #fff;
}

.contact__text {
  font-family: Montserrat;
  font-size: 35px;
  color: #fff;
  background: #000;
  border-bottom: 1px solid #fff;
}

.contact__submit {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background: url(../img/submit_arrow.png) center center no-repeat #FFBE5E;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  margin: 0px 0px 0px 60px;
}

.contact__submit::-moz-focus-outer {
  border: 0;
  padding: 0;
}

.contact__submit::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.contact__submit_text {
  display: none;
}

.flex-container-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0px 0px 0px;
}

.checkbox-label {
  margin: 40px 0px 50px 25px;
  display: block;
}

.checkbox-label span {
  padding: 1px 0 0 5px;
}

.checkbox-label :nth-child(3) {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
}

:checked + .checkbox__style:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.checkbox__style {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  left: 30px;
}

.required {
  color: #ff0000;
  font-weight: bold;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.gap {
  width: 100%;
  height: 10px;
  background: #fff;
}

.flex-footer {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img {
  -ms-grid-column-align: start;
      justify-self: start;
}

.rights {
  color: #fff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  padding: 30px 0px 0px 0px;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin: 30px 0px 0px 0px;
}

.phone__number {
  color: #fff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  margin: 14px 0px 0px 0px;
}

@media (max-width: 1197.99px) {
  .sub-title :nth-child(2) {
    -ms-grid-column-align: start;
        justify-self: start;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 1196px) {
  .container {
    max-width: 970px;
    padding: 0 20px;
  }
}

@media (max-width: 1196.99px) {
  .banner_bg {
    left: 505px;
    top: 414px;
  }

  .banner_bg img {
    width: 558px;
  }

  .swiper-container {
    width: 760px;
  }

  .sub-title :nth-child(1) {
    font-size: 23px;
  }
}

@media (max-width: 1025px) {
  .main-header {
    margin: 50px 0px 150px 0px;
  }
}

@media (max-width: 1024px) {
  .main-header__logo {
    margin: 0px 100px 0px 0px;
  }

  .main-navigation__list :last-child {
    margin: 0px 40px 0px 0px;
  }

  .menu-item {
    margin: 0px 15px 0px 0px;
  }

  .intro {
    margin: 0px 0px 440px 0px;
  }
}

@media (max-width: 1024px) and (max-width: 769px) {
  .main-navigation__list :last-child {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 1024px) and (max-width: 991.99px) {
  .main-navigation__list :last-child {
    margin: 0px 10px 0px 0px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
    padding: 0 20px;
  }
}

@media (max-width: 991.99px) {
  .banner_bg {
    left: 247px;
    top: 383px;
  }

  .banner_bg img {
    width: 603px;
  }

  .main-header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-header__logo {
    margin: 0px 40px 0px 0px;
  }

  .main-navigation {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .main-navigation__list {
    margin: 0px 40px 0px 20px;
  }

  .main-header__widget{
    margin-top: 15px;
  }

  .widget-contacts {
    width: 170px;
  }

  .our-services-bg {
    height: 850px;
  }

  .our-services__title {
    margin: 0px 0px 75px 0px;
  }

  .our-services__tabs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .swiper-container {
    width: 560px;
  }

  .sub-title {
    height: 450px;
  }

  .sub-title {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .sub-title :nth-child(1) {
    font-size: MAX(2.7vw, 16px);
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
    margin: 0px 0px 20px 0px;
  }

  .sub-title :nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/4/2;
  }

  .sub-title :nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }

  .sub-title :nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3/2/4/3;
  }

  .bg-form {
    padding: 0px 0px 0px 0px;
  }

  .flex-container input {
    max-width: 300px;
  }

  .contact_title {
    text-align: center;
    margin: 60px 0px 60px 0px;
    font-size: 30px;
  }

  .contact__name {
    font-size: 30px;
  }

  .contact__phone {
    font-size: 30px;
  }

  .contact__email {
    font-size: 30px;
    margin: 80px 0px 0px 0px;
  }

  .contact__title {
    font-size: 30px;
    margin: 80px 0px 0px 0px;
  }

  .contact__text {
    font-size: 30px;
  }

  .flex-container-submit {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .checkbox-label + .checkbox-label {
    margin: 0px 0px 50px 25px;
  }
}

@media (max-width: 770.99px) {
  .our-photos__gallery {
    height: 1200px;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
  }

  .our-photos__gallery :nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
  }

  .our-photos__gallery :nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1/3/2/4;
  }

  .our-photos__gallery :nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }

  .our-photos__gallery :nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 2/2/3/4;
  }

  .our-photos__gallery :nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 3/1/4/4;
  }
}

@media (max-width: 769px) {
  body.lock {
    overflow: hidden;
  }

  .main__burger {
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    z-index: 3;
    right: 60px;
    top: 95px;
    background: transparent;
  }

  .main__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    top: 13px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .main__burger:before,
  .main__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .main__burger:before {
    top: 0;
  }

  .main__burger:after {
    bottom: 0;
  }

  .main__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .main__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 13px;
  }

  .main__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 13px;
  }

  .main-navigation {
    z-index: 2;
    position: fixed;
    max-width: 100%;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
    opacity: 0.9;
    padding: 70px 10px 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-navigation.active {
    top: -36px;
  }

  .main-navigation__list {
    display: block;
  }

  .menu-item {
    padding: 0 0 50px 0;
  }

  .main-navigation__list a {
    font-weight: 800;
    font-size: 35px;
    color: #fff;
  }

  .menu-item {
    font-size: 24px;
  }

  .main-header__logo {
    position: relative;
    left: 50px;
    top: 50px;
    z-index: 3;
  }

  .menu-item {
    padding: 0 0 50px 0;
    margin: 0px 0px 0px 0px;
  }

  .widget-contacts__logo {
    display: none;
  }

  .widget-contacts__phone {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
  }

  .intro {
    margin: 0px 0px 540px 0px;
  }

  .why__sub-title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .why__col {
    margin: 0px 0px 60px 0px;
  }
}

@media (max-width: 769px) and (max-width: 425.99px) {
  .main__burger {
    right: 20px;
    top: 74px;
  }
}

@media (max-width: 769px) and (max-width: 769px) {
  .main-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.main-navigation address{
  margin: 15px 0px 0px 0px;
}

@media (max-width: 769.99px) {
  .banner_bg {
    left: 136px;
    left: calc(0px + 150*(100vw - 623.99px) / (146));
    margin-left: 3px;
  }
}

@media (max-width: 768.99px) {
  .scroll {
    display: none;
  }

  .main-header {
    margin: 0px 0px 100px 0px;
  }

  .why {
    margin: 0px 0px 30px 0px;
  }

  .why__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0px 0px 80px 0px;
  }

  .swiper-button-prev {
    display: none !important;
  }

  .swiper-button-next {
    display: none !important;
  }

  .company__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: MAX(10.5vw, 20px) 0px MAX(6.5vw, 10px) 0px;
  }

  .flex-footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    height: 150px;
  }

  .flex-footer a {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/3/2;
  }

  .img {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }

  .rights {
    margin-left: calc(0px + 153*(100vw - 320px) / (448));
    margin-top: 25px;
    font-size: 10px;
  }

  .phone {
    margin-left: calc(0px + 153*(100vw - 320px) / (448));
    margin-top: -35px;
  }

  .phone__img {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    position: relative;
    top: -2px;
  }

  .phone__number {
    margin: 10px 0px 0px 0px;
    font-size: 10px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}

@media (max-width: 764.99px) {
  .control-container {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (max-width: 661.99px) {
  .flex-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .flex-container input {
    max-width: 350px;
  }

  .contact__name {
    font-size: 27px;
  }

  .contact__phone {
    margin: 30px 0px 0px 0px;
  }

  .contact__email {
    margin: 30px 0px 0px 0px;
    font-size: 27px;
  }

  .contact__text {
    width: 350px;
    font-size: 27px;
  }

  .flex-container-submit {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 661.999px) {
  .contact__title {
    margin: 30px 0px 0px 0px;
    font-size: 27px;
  }
}

@media (max-width: 582.99px) {
  .swiper-container {
    width: 260px;
  }
}

@media (max-width: 577.99px) {
  .banner_bg {
    left: calc(0px + -10*(100vw - 320.99px) / (257));
    top: calc(570px + -55*(100vw - 502.99px) / (75));
  }

  .banner_bg img {
    width: calc(331px + 273*(100vw - 320.99px) / (257));
  }
}

@media (max-width: 576.99px) {
  .bg-grad {
    height: 932px;
  }
}

@media (max-width: 540.99px) {
  .contact__submit {
    display: none;
  }

  .contact__submit_text {
    display: block;
    border-radius: 20px 20px 20px 20px;
    height: 50px;
    width: 120px;
    margin: 30px 0px 0px 110px;
    background: #FFBE5E;
    font-size: 15px;
    font-weight: 500;
  }

  .flex-container-submit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 540.99px) and (max-width: 493.99px) {
  .contact__submit_text {
    margin: 30px 0px 0px 70px;
  }
}

@media (max-width: 509.99px) {
  .our-services-bg {
    height: 1030px;
  }
}

@media (max-width: 501.99px) {
  .bg-grad {
    height: calc(694px + 126*(100vw - 320px) / (181));
  }

  .banner_bg {
    top: 460px;
  }
}

@media (max-width: 500.99px) {
  ._container-height {
    height: 640px;
  }
}

@media (max-width: 493.99px) {
  .contact_title {
    font-size: 25px;
  }

  .contact__name {
    font-size: 20px;
    width: 250px;
  }

  .contact__phone {
    font-size: 20px;
    width: 250px;
  }

  .contact__email {
    font-size: 20px;
    width: 250px;
  }

  .contact__title {
    font-size: 20px;
    width: 250px;
  }

  .contact__text {
    font-size: 20px;
    width: 250px;
  }
}

@media (max-width: 488.99px) {
  ._container-height {
    height: 630px;
  }
}

@media (max-width: 426px) {
  .main-header__logo {
    position: static;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .intro {
    margin: 0px 0px 440px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro__slogan {
    display: none;
  }

  .intro__slogan2 {
    display: block;
  }

  .intro__slogan3 {
    display: block;
  }

  .intro__title {
    text-align: center;
  }

  .why__pic {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    margin: 0px 0px 0px 0px;
  }

  .why__name {
    margin: 0px 0px 17px 0px;
  }
}

@media (max-width: 425.99px) {
  .main-header {
    margin: 30px 0px 50px 0px;
  }

  .intro__service-btn {
    padding: 20px 0px 20px 0px;
  }

  .why__title {
    font-size: 28px;
    margin: 0px 0px 40px 0px;
  }

  .our-services-bg {
    margin: 0px 0px 30px 0px;
  }

  .our-photos__title {
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-size: 30px;
  }

  .img {
    margin: 0px 0px 0px -30px;
  }

  .control-container {
    margin: 0px -65px 0px 0px;
  }
}

@media (max-width: 414.99px) {
  .title__text {
    font-size: 19px;
    justify-self: flex-end;
  }

  .logo {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    position: relative;
    top: 14px;
  }
}

@media (max-width: 395.99px) {
  .banner_bg {
    top: 464px;
  }
}

@media (max-width: 376.99px) {
  .our-photos__gallery {
    height: 920px;
    -ms-grid-rows: 177px 5px 177px 5px 177px 5px 177px 5px 177px;
    -ms-grid-columns: 1fr;
        grid-template: repeat(5, 177px)/1fr;
    grid-gap: 5px;
  }

  .our-photos__gallery :nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }

  .our-photos__gallery :nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }

  .our-photos__gallery :nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }

  .our-photos__gallery :nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
  }

  .our-photos__gallery :nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5/1/6/2;
  }
}

@media (max-width: 321px) {
  .intro__title {
    width: 275px;
    text-align: center;
  }
}

@media (max-width: 320.99px) {
  ._container-height {
    height: 550px;
  }
}

@media (max-width: 320px) {
  .intro {
    margin: 0px 0px 360px 0px;
  }

  .why__name {
    font-size: 30px;
  }
}

@media (max-width: 319.99px) {
  .why__title {
    font-size: 28px;
    text-align: center;
  }
}

._webp .scroll{ background: url(../img/submit_arrow.webp) center center/60% no-repeat #D2D1D2; }

._webp .contact__submit{ background: url(../img/submit_arrow.webp) center center no-repeat #FFBE5E; }