 
*{
    border:solid rgba(255, 0, 0, 0.15) 1px;
}
@import '_var';
.dr {
    &__container {
        box-shadow: 3px -5px 18px 10px rgba(39, 54, 79, 0.2);
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(12, 18, 32, 1) 0%, rgba(39, 54, 80, 1) 51%, rgba(12, 18, 32, 1) 100%);
        max-width: $md;
         padding: 5px;
        @include sm{
            padding: 40px;
        }
        margin: 0 auto;
    }
    &__title{
        display: flex; 
        margin-bottom: 7vw;
        @include md{
            margin-bottom: 44px;
        }
        justify-content: center;
        align-items:  flex-end;
        &__left{
            font-size: 7vw;
            line-height: 1.1;
            padding-right: 20px;
            @include sm {
                font-size: 6vw;
            }
            @include md{
                font-size: 60px;
            }
        }
        &__center{
            color:$p;
            font-size: 21vw;
            @include sm {
                font-size: 18vw;
            }
         
            line-height: 0.8;
            font-weight: 900;
            @include md{
                font-size: 160px;
                line-height: 0.9;
            }
        }
        &__right{
            font-size: 4vw;
            @include sm {
                font-size: 3vw;
            }
            @include md{
                font-size: 40px;
            }
            strong{
                color:$p;
                font-size: 7vw;
                @include sm {
                    font-size: 6vw;
                }
                @include md{
                    font-size: 70px;
                }
            }
        }
    } 
    &__list{
        list-style-type: none;
        counter-reset: list1; 
        font-size: 18px;
        @include md{
            font-size: 20px;
        }
        position: relative;

        li{
            position: relative;
            margin-bottom: 12px;
                strong{
                    color: $p;
                    font-weight: 900;
                    font-size: 20px;
                    @include md{
                        font-size: 22px;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: -10px; 
                    left: -20px;
                    width: 3px;
                    bottom: -10px;
                    background-color: $p;
                    z-index: 1;
           
                }
                &:first-child{
                    &::after{
                        top:15px;
                    }
                }
                &:last-child{
                    &::after{
                        bottom:70%;
                    }
                }
        }
        li::before {
            z-index: 2;
            $fz:16px;
            counter-increment: list1;                
            content:   counter(list1)  ;
            position: absolute;
            bottom: 0;
            top:5px;
           
            left: - $fz - 15px;    
            background-color: $p;
            border-radius: 50%;
            height: $fz+8px;
            width: $fz+8px;   
              font-size: $fz;
            display: flex;    
            justify-content: center;
            align-items: center;
                       
          }
    }
}

 