 
  @use 'sass:math';

//   @import 'components/base';  
//   @import 'components/_var';   
//    @import 'components/header/header';
//    @import 'components/grid';
//    @import 'components/sections';
//    @import 'components/button';
//    @import 'components/card';
//    @import 'components/fonts';
//    @import 'components/footer';
//    @import 'components/popup'; 
//    @import 'components/list';     
// @import 'modules/modules.scss';
// @import 'space';
@import 'additional';


.bg-gray{
  background: #c6c6c6;
}

.flyer {
  // .flyer_text
  &_text {
    color: #000;
  }
  // .flyer__title
  &__title {
      span{
      color: #4287f5;
    }
  }
  // .flyer__img
  &__img {}
}
.img-flyer {
  position: relative;
  // .img-flyer__title
  &__title {
    &::before{
      content: "";
      display: block;
      border-top: solid 2px #4287f5;
      width: 100%;
      height: 0px;
      position: absolute;
      top: 14px;
      z-index: 1;
    }
    span{
      background: #c6c6c6;
      padding: 0 20px;
      position: relative;
      z-index: 5;
      color: #4287f5;
      font-weight: bold;
    }
  }
  // .img-flyer__pic
  &__pic {}
}

.quest-title{
  color: #000;
  text-align: left!important;
}

.quest-text{
  color: #000;
  text-align: left!important;
}




.tab {
		// .tabs_container
		&_container {
      display: flex;
    }
}
.tab {
		// .tab_btn
		&_btn {
      min-width: 250px;
      display: flex;
      flex-direction: column;
      margin: 0px 15px 0px 0px;
    }
		// .tab_activator
		&_activator {
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      &::-moz-focus-outer{
        border: 0;
        padding: 0;
      }
      &::-moz-focus-inner{
        border: 0;
        padding: 0;
      }
      &.active{
        background-color: #0000ff;
        color: #fff;
        border: none!important;
        border-radius: 0!important;
      }
    }
		// .tab_content
		&_content {
      display: flex;
      justify-content: center;
    }
		// .tab_child
		&_child {
      display: none;
      position: relative;

      &.active{
        display: block;
        animation: fade 1s;
      }
    }
}

@keyframes fade {
  0% {
      opacity: 0;
      left: 20px;
  }

  100% {
      opacity: 1;
      left: 0;
  }
}




